*{
    /* border: 1px solid #000; */
    margin: 0;
    padding: 0;
}

body{
    font-size: 16px;
    line-height: 1.5em;
    font-family: Segoe UI;
    color: #515151;
}

/* GLOBAL */
.zoom{
    max-width: 1340px;
    margin-left: auto;
    margin-right: auto;
}

.wrapper{
    width: 80%;
    margin: 0 auto;
}

.clear{
    clear: both;
}

/* END OF GLOBAL */

/* HEADER */
header{
    padding: 20px 0;
    border-bottom: 1px solid gray;
    
}

#bg{
    background: url('../img/bg.jpg') no-repeat center center;
    background-size: cover;
    min-height: 715px;
}

#logo{
    float: left;
}

a#logo{
    text-decoration: none;
}

#logo img{
    width: 25px;
}

#logo span{
    font-size: 25px;
    color: #fff;
    position: relative;
    top: -6px;
    padding-left: 10px;
}

nav{
    float: right;
    margin-top: 10px;
}

nav li{
    list-style-type: none;
    float: left;
    margin-left: 45px;
    position: relative;
    top: -5px;
}

nav li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

nav li a:hover{
    color: #35a9db;
}

nav li a img{
    opacity: 0.6;
}

#banner{
    color: #fff;
    text-align: center;
    position: relative;
    top: 150px;
}

#banner img{
    padding: 20px 0;
}

#banner h1{
    font-size: 50px;
    padding: 20px 0;
    line-height: 1em;
}

#banner p{
    font-size: 20px;
    padding: 5px 0;
    letter-spacing: 0.2em;
}

header:after{
    content: "";
    display: block;
    clear: both;
}
/* END OF HEADER */

/* DONALD */
#donald{
    padding-top: 100px;
    margin-top: 50px;
    padding-bottom: 100px;
    min-height: 200px;
}

#donald li{
    list-style-type: none;
    float: left;
    width: 23%;
    margin: 0 1%;
    text-align: center;
}

#donald li img{
    height: 40px;
}

#donald li h2{
    margin: 15px 0;
}

#donald:after{
    content: "";
    display: block;
    clear: both;
}
/* END OF DONALD */

/* INTERNET ADVERTISING */
#internet{
    padding-top: 50px;
    text-align: center;
    min-height: 400px;
}

#internet h2{
    font-size: 40px;
    font-weight: normal;
    padding-bottom: 30px;
    line-height: 1em;
}

#internet p{
    font-size: 20px;
    letter-spacing: 0.2em;
    padding-bottom: 70px;
}

#internet li{
    list-style-type: none;
    margin-bottom: -10px;
    float: left;
}

#internet li img{
    height: 200px;
    width: 268px;
}

#internet:after{
    content: "";
    display: block;
    clear: both;
}
/* END OF INTERNET ADVERTISING */

/* GOOD RESPONSIVE */
#good-responsive{
    min-height: 300px;
    padding-top: 100px;
    margin-top: 50px;
}

#good-responsive li{
    list-style-type: none;
}

#gambar{
    float: left;
    width: 40%;
    margin-right: 5%;
}

#gambar img{
    height: 25%;
    width: 100%;
}

#deskripsi{
    width: 55%;
    float: left;
}

#deskripsi h2{
    font-size: 23px;
    font-weight: normal;
    margin-bottom: 20px;
    padding-left: 20px;
    border-left: 2px solid #35a9db;
}

#deskripsi p{
    margin-bottom: 20px;
}

#deskripsi li{
    margin-bottom: 10px;
}

#good-responsive:after{
    content: "";
    display: block;
    clear: both;
}

/* END OF GOOD RESPONSIVE */

/* CONTEXTUAL */
#contextual{
    text-align: center;
    min-height: 400px;
    padding-top: 50px;
    color: #fff;
    background: url('../img/bg-contextual.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

#contextual h2{
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: normal;
    line-height: 1em;
}

#contextual h2 + p{
    font-size: 18px;
    letter-spacing: 0.2em;
    margin-bottom: 100px;
}

#contextual li{
    list-style-type: none;
    float: left;
    width: 23%;
    margin: 0 1%;
}

#contextual li h3{
    font-size: 25px;
    margin: 10px 0 5px;
    font-weight: normal;
}

#contextual:after{
    content: "";
    display: block;
    clear: both;
}

/* END OF CONTEXTUAL */

/* JONATHAN */
#jonathan{
    padding-top: 50px;
    margin-top: 50px;
    min-height: 230px;
    margin-bottom: 100px;
}

#jonathan ul#main > li{
    list-style-type: none;
    width: 30%;
    float: left;
}

#jonathan ul#main > li:nth-child(2){
    margin: 0 6.5% 0 3.5%;
}

#jonathan h2{
    font-weight: normal;
    padding-left: 20px;
    border-left: 2px solid #35a9db;
    margin-bottom: 30px;
}

#jonathan p{
    margin-bottom: 25px;
}

#jonathan #first p{
    text-align: justify;
}

#jonathan #first a{
    text-decoration: none;
    padding: 6px 25px;
    background: #35a9db;
    color: #fff;
    transition: 1s;
    transition-delay: 0.5s;
}

#jonathan #first a:hover{
    background: #055b7e;
    transition: 1s;

}

#jonathan ul#twitter li{
    list-style-type: none;
    position: relative;
    top: 10px;
}

#jonathan ul#twitter img{
    display: block;
    padding-right: 5px;
    
}

#jonathan ul#twitter span{
    position: relative;
    top: -30px;
    left: 35px;
}

#jonathan ul#skills li{
    list-style-type: none;
    margin-bottom: 15px;
}

#jonathan ul#skills p{
    margin-bottom: 10px;
}

#jonathan ul#skills .full{
    width: 100%;
    background: #ddd;
    height: 7px;
}

#skills #francis{
    width: 65%;
    background: #35a9db;
    height: 7px;
    animation: progress 2.5s linear;
}

#skills #herbert{
    width: 80%;
    background: #35a9db;
    height: 7px;
    animation: progress 2s linear;
}

#skills #matthew{
    width: 45%;
    background: #35a9db;
    height: 7px;
    animation: progress 3s linear;
}

#jonathan:after{
    content: "";
    display: block;
    clear: both;
}
/* END OF JONATHAN */

/* OUTDOOR */
#outdoor{
    background: rgb(240, 240, 240);
    min-height: 500px;
    padding-top: 100px;
    text-align: center;
}

#outdoor h2{
    font-weight: normal;
    font-size: 33px;
    margin-bottom: 15px;
}

#outdoor p:nth-child(2){
    letter-spacing: 0.2em;
    margin-bottom: 50px;
}

#outdoor p + img:nth-child(3){
    border-radius: 50%;
    border: 4px solid #ddd;
    margin-bottom: 30px;
}

#outdoor p:nth-child(4){
    width: 75%;
    margin: 0 auto 20px;
}

#outdoor h3{
    font-weight: normal;
    letter-spacing: 0.1em;
    margin-bottom: 50px;
    opacity: 0.5;
}

#outdoor:after{
    content: "";
    display: block;
    clear: both;
}
/* END OF OUTDOOR */

/* BRAND */
#brand{
    min-height: 72px;
    padding: 40px 0;
}

#brand li:nth-child(1), #brand li:nth-child(8){
    width: 2%;
    position: relative;
    top: 20px;
}

#brand li{
    list-style-type: none;
    width: 12%;
    float: left;
    padding: 0 1.5%;
}

#brand img.brand-img{
    width: 80%;
    opacity: 0.6;
}

#brand:after{
    content: "";
    display: block;
    clear: both;
}
/* END OF BRAND */

/* FOOTER */
footer{
    padding: 80px 0;
    background: #333333;
    color: #ddd;
}

footer:after{
    content: "";
    display: block;
    clear: both;
}

footer ul#footer > li{
    list-style-type: none;
    float: left;
    width: 30%;
}

footer h2{
    font-weight: normal;
    padding: 5px 20px 5px;
    border-left: 3px solid #35a9db;
    margin-bottom: 30px;
}

footer #left p{
    margin-bottom: 30px;
    text-align: justify;
}

footer #sosmed img{
    padding: 0 5px;
    opacity: 0.6;
}

footer #center{
    padding: 0 5%;
}

footer #center li{
    list-style-type: none;
    margin-bottom: 6px;
}

footer #center img{
    display: block;
}

footer #center span{
    position: relative;
    top: -18px;
    left: 23px;
}

footer #right li{
    list-style-type: none;
    float: left;
    padding: 0 5px 3px;
}

footer #right img{
    width: 50px;
    border: 2px solid #515151;
}

#arrow{
    position: fixed;
    left: 90%;
    bottom: 70px;
}

.block {
    display: block;
}
.none {
    display: none;
}
/* END OF FOOTER */

@keyframes progress{
    0%{transform: translateX(0px)}
    20%{width: 100%}
}





